[submodule "ubi8-ib"]
	path = ubi8-ib
	url = https://repo1.dso.mil/dsop/redhat/ubi/8.x/ubi8.git
[submodule "ubi8-minimal-ib"]
	path = ubi8-minimal-ib
	url = https://repo1.dso.mil/dsop/redhat/ubi/8.x/ubi8-minimal.git
[submodule "ubi8-micro-ib"]
	path = ubi8-micro-ib
	url = https://repo1.dso.mil/dsop/redhat/ubi/8.x/ubi8-micro.git
[submodule "ubi9-ib"]
	path = ubi9-ib
	url = https://repo1.dso.mil/dsop/redhat/ubi/9.x/ubi9.git
[submodule "ubi9-minimal-ib"]
	path = ubi9-minimal-ib
	url = https://repo1.dso.mil/dsop/redhat/ubi/9.x/ubi9-minimal.git
[submodule "ubi9-micro-ib"]
	path = ubi9-micro-ib
	url = https://repo1.dso.mil/dsop/redhat/ubi/9.x/ubi9-micro.git
